/* Tailwind Directives */
@import "tailwindcss";

/* Minimal Global Resets */
body  {
  border: 1px solid rgb(9, 9, 9);
}


/* Ensure the React root element spans the full width and height */
#root {
  width: 100%;
  min-height: 100vh;
}
